# Framworks
langchain
langchain-core
langchain-huggingface
langchain-community
langgraph
transformers 
huggingface-hub
pandas
numpy
streamlit
python-dotenv
beautifulsoup4
requests
sentence-transformers
faiss-cpu==1.8.0
pypdf
pypdf
duckduckgo-search